body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.title {
    font-size: 26px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 5%;
}

.computer-score {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 18px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 60px;
}

.player {
    display: flex;
    justify-content: center;
    border-top: solid white 2px;
    padding-top: 20px;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer {
    display: flex;
    justify-content: center;
}

button {
    height: 60px;
    width: 180px;
    border: solid white 4px;
    background-color: black;
    color: white;
    font-weight: bolder;
    margin: 0 16px;
    border-radius: 5px;
    font-size: 16px;
}

